.cover__subtitle{
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #ffffff;
    white-space: pre-line;
    margin: 0;
}
@media  screen and (max-width: 700px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 1.14;    
    }
}
