.lead__subtitle {
    max-width: 640px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    padding-top: 32px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 700px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 1.25;
        padding-top: 16px;
    }
}